@font-face {
  font-family: 'California_Gothic';
  src: url('California_Gothic.eot');
  src: url('California_Gothic.woff2') format('woff2'),
       url('California_Gothic.woff') format('woff'),
       url('California_Gothic.ttf') format('truetype'),
       url('California_Gothic.svg#California_Gothic') format('svg'),
       url('California_Gothic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}